* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --index: calc(1vw + 1vh);
   --color-header: #272727;
   --color-text: #272727;
   --gallery-gap: calc(var(--index) * 7.5)
}


@font-face {
   font-family: raleway-c;
   src: url(../fonts/raleway-regular.woff2);
}

@font-face {
   font-family: outfit-c;
   src: url(../fonts/outfit-regular.woff2);
}

a {
   color: #D12A2B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: outfit-c;
}

/* will-change */
.content,
.hero,
.main-header,
.gallery>* {
   will-change: transform;
}

body {
   background-color: #B8BAB9;
   background-size: 50px;
   color: #fafafa;
   font-family: raleway-c;
   overflow-x: hidden;
}

.hero {
   width: calc(var(--index) * 34);
   top: 12vh;
   position: absolute;
   z-index: -1;
}

.main-header {
   height: 100vh;
}

.container {
   padding: 0 7vw;
}

.main-title {
   font-size: calc(var(--index) * 7);
   position: absolute;
   width: min-content;
   left: 24vw;
   bottom: 12vh;
   line-height: .9;
}

.gallery {
   display: flex;
   padding: calc(var(--index) * 8) 0;
}

.gallery>* {
   flex: 1;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.gallery__item {
   max-width: calc(var(--index) * 22);
   margin-bottom: var(--gallery-gap);
   max-height: 180vh;
   border-radius: 8px;
}

.gallery__left {
   margin-top: calc(var(--gallery-gap) * 1.6);
}

.gallery__right .gallery__item {
   margin: 0;
   margin-top: var(--gallery-gap);
   margin-bottom: var(--gallery-gap);
}

.text-block {
   color: var(--color-text);
   position: relative;
}

.text-block__title {
   font-size: 3rem;
   line-height: 2.4rem;
   color: var(--color-header);
   margin-bottom: 1.5rem;
}

.text-block__h {
   font-size: 2rem;
   line-height: 2.4rem;
   color: var(--color-header);
   margin-bottom: 1.5rem;
}

.text-block__p {
   line-height: 1.75;
}

.footer {
   height: 100px;
   text-align: center;
   margin-bottom: 5rem;
}

.footer__links {
   width: 200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (max-width: 1450px) {
   .main-title {
      left: 16vw;
   }
}


@media (max-width: 1100px) {
   .hero {
      top: -6vh;
   }

   .main-title {
      font-size: calc(var(--index) * 6);
      left: 12vw;
      bottom: 36vh;
   }

   .gallery {
      padding: 0;
   }

   .gallery__left {
      margin-top: calc(var(--gallery-gap) * -0.4);
   }

   .gallery__right .gallery__item {
      margin-top: calc(var(--gallery-gap) * -1);
      margin-bottom: calc(var(--gallery-gap) * 2);
   }

   .gallery__item {
      max-width: calc(var(--index) * 11.5);
      margin-bottom: 3rem;
      max-height: 50vh;
   }

   .gallery__left .gallery__item:nth-child(1) {
      margin-bottom: 100px;
   }

   .gallery__right .gallery__item:nth-child(2) {
      margin-bottom: 380px;
   }

   .gallery__left .gallery__item:nth-child(3) {
      margin-top: 2rem;
   }

   .text-block__title {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
   }

   .text-block__h {
      font-size: 1.3rem;
      line-height: 1.5rem;
      margin-bottom: 0.7rem;
   }

   .text-block__p {
      line-height: 1.2;
   }
}

@media (max-width: 992px) {
   .main-title {
      left: 8vw;
   }
}

@media (max-width: 710px) {
   .main-title {
      font-size: calc(var(--index) * 5);
   }
}

@media (max-width: 450px) {
   .hero {
      width: calc(var(--index) * 32);
   }

   .main-title {
      font-size: calc(var(--index) * 4);
      bottom: 42vh;
   }

   .gallery__right .gallery__item {
      margin-top: calc(var(--gallery-gap) * -2);
      margin-bottom: calc(var(--gallery-gap) * 3);
   }
}